@font-face {
    font-family: "pixels";
    src: url("fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf");
}
body {
    background-image: url("images/randomantic.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "pixels";
    user-select: none;
    overflow: hidden;
    cursor: default;
}
#menu {
    position: absolute;
    top: 20vh;
    right: 5vw;
    text-align: center;
    transition: opacity 0.3s;
}
#title {
    font-size: clamp(2.5rem, 6vw, 5rem);
    color: white;
}

.menu-button {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
    color: rgb(184, 176, 176);
    transition: color 0.2s, font-size 0.2s;
    cursor: pointer;
}
.menu-button::before,
.menu-button::after {
    opacity: 0;
    transition: opacity 0.2s, color 0.2s;
    color: white;
}
.menu-button::before {
    content: "> ";
}
.menu-button::after {
    content: " <";
}
.menu-button:hover {
    color: white;
    font-size: clamp(1.45rem, 3.25vw, 2.75rem);
}
.menu-button:hover::before,
.menu-button:hover::after {
    opacity: 1;
}
.menu-button:active,
.menu-button:active::before,
.menu-button:active::after {
    opacity: 1;
    color: rgb(52, 218, 52);
}

#first-scene {
    position: fixed;
    inset: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    transition: opacity 2s;

    display: none;
}
#text-box {
    background-image: url(images/textbox.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: min(70vw, 900px);
    aspect-ratio: 22 / 6;
    
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
}
#character-name, #dialogue, #text-hint {
    position: fixed;
}
#character-name {
    color: white;
    left: -1.5%;
    width: 60%;
    text-align: center;
}
#dialogue {
    top: 30%;
    left: 8%;
    width: 84%;
    font-weight: normal;
}

#text-hint {
    color: rgb(57, 53, 53);
    bottom: 8%;
    right: 5%;

    display: none;
}
.one, .two {
    background-image: url(images/button.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: min(15vw, 300px);
    aspect-ratio: 18 / 6;
    cursor: pointer;
    transition: width 0.2s;
    right: 5%;
    text-align: center;
}
.one:hover, .two:hover {
    width: min(17.5vw, 325px);
}
.one {
    bottom: 125%;
}
.two {
    bottom: 85%;
}
.choice-text{
    position: relative;
    top: 35%;
    font-size: clamp(1.2rem, 1.5vw, 2rem);
}
