@font-face {
    font-family: "pixels";
    src: url("fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf");
}
body {
    background-image: url("images/randomantic.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "pixels";
    user-select: none;
    overflow: hidden;
    cursor: default;
}
#menu {
    position: absolute;
    top: 25%;
    right: 7.5%;
    text-align: center;
}
#title {
    font-size: 5rem;
    color: white;
}
.menu-button {
    font-size: 2.5rem;
    color: rgb(184, 176, 176);
    transition: color 0.2s;
    cursor: pointer;
}
.menu-button::before,
.menu-button::after {
    opacity: 0;
    transition: opacity 0.2s, color 0.2s;
    color: white;
}
.menu-button::before {
    content: "> ";
}
.menu-button::after {
    content: " <";
}
.menu-button:hover {
    color: white;
}
.menu-button:hover::before,
.menu-button:hover::after {
    opacity: 1;
}
.menu-button:active,
.menu-button:active::before,
.menu-button:active::after {
    color: rgb(52, 218, 52);
}
